body {
  background-image: url("https://wallpaperaccess.com/full/632782.jpg");
}
:root {
  --redColor: red;
  --greenColor: green;
  --tealColor: rgb(73, 123, 183);
}
#Navbar {
  margin-bottom: 110px;
}
#cartContainer {
  width: 90%;
}
table {
  width: 90%;
  margin: auto;
}
table > thead > tr {
  background-color: rgb(15, 66, 66);
  color: white;
  height: 20px;
}

td {
  padding: 10px 0;
  margin: auto;
  text-align: center;
}
.button1 {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  background-color: var(--redColor);
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.button2 {
  background-color: var(--greenColor);
}
.quantity {
  margin: auto;
  /* margin-bottom: 10px; */
  margin: 0 2px 10px 2px;
  background-color: var(--tealColor);
  padding: 5px;
  border-radius: 5px;
  color: rgb(6, 6, 6);
  cursor: pointer;
  border: none;
}

/* img{
    border-radius: 10px;
}
h4,p{
    text-align: center;
    margin: 5px 0px 10px 0px;
}; */
/* #cartContainer>div>button {
    background-color: yellow;
    color: green;
} */
@media all and (min-width: 426px) and (max-width: 850px) {
  #cartContainer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: auto;
    /* border: 1px solid red; */
  }
}
@media all and (min-width: 200px) and (max-width: 750px) {
  #cartContainer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin: auto;
    /* border: 1px solid red; */
  }
}
